@import './_normalize.scss';

body {
    background-color:#F6F3F3;
}


@font-face {
    font-family: 'Merriweather-Bold';
    src: url('../fonts/Merriweather-Bold.woff') format('woff'),
}

@font-face {
    font-family: 'Merriweather-Light';
    src: url('../fonts/Merriweather-Light.woff') format('woff'),
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../fonts/Merriweather-Bold.woff') format('woff'),
}